<div class="grid place-items-center h-full">
  <img src="https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png">
  <p><%= Date.today.strftime("%A, %B, %d") %></p>
  <p><%= "#{@data["main"]["temp"].to_i}°C" %></p>
  <p>-------------------------------------</p>
  <p><%= Date.today.strftime("%A, %B %d") %></p>
  <img src="https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png">
  <p><%= @data[ "weather"].first["main"] %></p>
  <p class="text-xs"><%= @data["weather"].first["description"] %></p>
  <p><%= "#{@data["main"]["temp"].to_i}°C" %></p>
</div>