
<div class="flex justify-center items-center h-screen">
  <div class="text-center">
    <%= image_tag("logo.png", class: "size-20 mx-auto mb-5") %>
    <p class="mb-2 font-sans capitalize">Please allow location request to your browser</p>
    <button id="getLocation" type="button" class="inline-flex items-center gap-x-1.5 rounded-md bg-black px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-black focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black">
      See The Weather
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m12.75 15 3-3m0 0-3-3m3 3h-7.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
      </svg>
    </button>
  </div>
</div>

<%= form_with(url: weather_path, method: :post, id: 'locationForm', style: "display:none;") do |form| %>
  <%= form.hidden_field :lat, id: 'lat' %>
  <%= form.hidden_field :lon, id: 'lon' %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<% end %>
