<article class="container mx-auto mt-28 px-5">
  <% if @data["weather"] %>
    <div class="grid place-items-center h-full">
      <% if modified_icons.include?(@data["weather"].first["icon"]) %>
        <%= image_tag("animated/#{@data["weather"].first["icon"]}.svg", class: "size-60") %>
      <% else %>
        <img src="https://openweathermap.org/img/wn/<%= @data["weather"].first["icon"] %>@2x.png">
      <% end %>

      <div class="text-3xl"><%= @data[ "weather"].first["main"] %></div>
      <div class="text-sm"><%= @data["weather"].first["description"] %></div>
      <%= "#{@data["main"]["temp"].to_i}°C" %>
    </div>
  <% else %>
    <p>Hava durumu bilgileri alınamadı.</p>
  <% end %>
</article>
